{{>layouts/header}}

<form class="contener" action="/productInOutSummit" method="post">

    <div class="form">
        <!-- 입출고 선택  -->
        <label for="productInOut" class="form-label">입/출고</label>
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="productInOut" name="productInOut">
            <option selected>입고/출고를 선택하세요.</option>
            <option value="입고">입고</option>
            <option value="출고">출고</option>
        </select>

        <!-- 부서명  -->
        <label for="department" class="form-label">부서명</label>
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="department" name="department">
            <option selected>부서를 선택하세요.</option>
            <option value="시스템 개발부">시스템 개발부</option>
            <option value="영업부">영업부</option>
        </select>

        <!-- 요청자  -->
        <label for="requestor" class="form-label">요청자</label>
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="requestor" name="requestor">
            <option selected>요청자를 선택하세요.</option>
            <option value="김선호">김선호</option>
            <option value="강구범">강구범</option>
            <option value="김민규">김민규</option>
            <option value="장석민">장석민</option>
        </select>


        <!-- 자재명  -->
        <label for="productName" class="form-label">자재명</label>
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="productName" name="productName">
            <option selected>자재를 선택하세요</option>
            <option value="JET-CM">JET-CM</option>
            <option value="JET-EM">JET-EM</option>
            <option value="JET-EMS">JET-EMS</option>
            <option value="JET-EUI">JET-EUI</option>
        </select>

        <!-- 제조사 -->
        <label for="productMaker" class="form-label">자재명</label>
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="productMaker" name="productMaker">
            <option selected>제조사를 선택하세요.</option>
            <option value="이레에너지테크">이레에너지테크</option>
            <option value="릴라이어블">릴라이어블</option>
            <option value="지멘스">지멘스</option>
            <option value="신한밸브">신한밸브</option>
        </select>

        <!-- 현장명  -->
        <label for="fieldName" class="form-label">현장명</label>
        <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example" id="fieldName" name="fieldName">
            <option selected>현장명을 선택하세요</option>
            <option value="화성 봉담 A-1BL">화성 봉담 A-1BL</option>
            <option value="송파 위례 A1-9BL">송파 위례 A1-9BL</option>
            <option value="남양주 별내 A-13BL">남양주 별내 A-13BL</option>
            <option value="남양주 별내 A-24BL">남양주 별내 A-24BL</option>
        </select>

        <!-- 입/출고 수량 -->
        <div class="mb-3">
            <label for="productCheckNumber" class="form-label">입/출고 수량</label>
            <input type="text" class="form-control form-control-lg" id="productCheckNumber" aria-describedby="productCheckNumberW" name="productCheckNumber">
            <div id="productCheckNumberW" class="form-text">입출고 할려는 수량을 기입하세요.</div>
        </div>

        <!-- 특이사항 -->
        <div class="mb-3">
            <label for="productBigo" class="form-label">비고</label>
            <textarea class="form-control" placeholder="특이사항을 입력하세요." id="productBigo" name="productBigo" style="height: 100px"></textarea>
        </div>

        <button type="submit">등록!!!</button>
    </div>

</form>


{{>layouts/footer}}