{{>layouts/header}}

<!-- contents -->
<div class="bg-dark text-white p-5">
    <h1>자동차 운행일지 입니다!! 다시 test!!!!</h1>

    <article>
        <a href="/carRegistration" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50">
            </i>
            차량 등록
        </a>

        <a href="/carEditDel" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">
            <i class="fas fa-download fa-sm text-white-50">
            </i>
            차량 수정 및 삭제
        </a>
    </article>


    <article>
        {{#carRegistrationList}}
        <button type="button" class="btn btn-outline-primary">
            <a href="/carDaily">
                <!--<img src="images/tucson.png" alt="투싼 145모 7359" width="500" height="250" > -->
                <img src="images/tucson.png" width="500" height="250" >
                {{carRegistrationId}}
                <br>{{carName}} : {{carNumber}} </br>
            </a>
        </button>
        {{/carRegistrationList}}
    </article>


    <!--
    <button type="button" class="btn btn-outline-success">Success</button>
    <button type="button" class="btn btn-outline-danger">Danger</button>
    <button type="button" class="btn btn-outline-warning">Warning</button>
    <button type="button" class="btn btn-outline-info">Info</button>
    <button type="button" class="btn btn-outline-light">Light</button>
    <button type="button" class="btn btn-outline-dark">Dark</button>
    -->
</div>

{{>layouts/footer}}