<!doctype html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
        <title>Jireh Energy Tech Management</title>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>

        <!-- custom.css -->
        <link href="css/carMove.css" rel="stylesheet">
        <link href="css/carTable.css" rel="stylesheet">
        <link href="css/mainStyle.css" rel="stylesheet">
        <link href="css/projectStyle.css" rel="stylesheet">

        <!-- alert msg -->
        {{#msg}}
            <div class="alert alert-primary alert-dismissible">
                {{msg}}
                <button type="button" class="btn-close" date-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {{/msg}}

    </head>

    <body class="p-3 m-0 border-0 bd-example">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Jireh image</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse show" id="navbarSupportedContent" style="">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/home">
                                Home
                            </a>
                        </li>

                        <!-- 자재관리 -->
                        <li class="nav-item">
                            <a class="nav-link active" href="/productList" aria-current="page">
                                자재관리
                            </a>
                        </li>

                        <!-- 현장관리 -->
                        <li class="nav-item">
                            <a class="nav-link active" href="/projectList" aria-current="page">
                                현장관리
                            </a>
                        </li>

                        <!-- 운행일지 -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                운행일지
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/carDaily">투싼 - 145모 7359</a></li>
                                <li><a class="dropdown-item" href="/carDaily">xm3 - 287러 3543</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>

                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>