{{>layouts/header}}

<!-- contents -->
<div class="bg-dark text-white p-5">
    <h1>자동차 운행일지 입니다!! 다시 test!!!맥북5</h1>
    <button type="button" class="btn btn-outline-primary">
        <a href="/carDaily">
            <img src="images/tucson.png" alt="투싼 145모 7359" width="500" height="250" >
            <br>투싼 145모 7359</br>
        </a>

    </button>
    <button type="button" class="btn btn-outline-secondary">
        <a href="/carDaily">
            <img src="images/xm3.png" alt="xm3 287러 3543" width="500" height="250" >
            <br>xm3 287러 3543<br>
        </a>
    </button>
    <!--
    <button type="button" class="btn btn-outline-success">Success</button>
    <button type="button" class="btn btn-outline-danger">Danger</button>
    <button type="button" class="btn btn-outline-warning">Warning</button>
    <button type="button" class="btn btn-outline-info">Info</button>
    <button type="button" class="btn btn-outline-light">Light</button>
    <button type="button" class="btn btn-outline-dark">Dark</button>
    -->
</div>

{{>layouts/footer}}